<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" 
href="../../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>
<body>
 
      <div class="container">
      <div class="panel panel-default">
         <div class="panel-heading">informations suivantes ont bien été ajoutées</div>
         <div class="panel-body">
			<div class="form-group">
					 <label>ID</label>
					 <label th:txt="${produit.prix}">ID</label>
			</div>
			
			<div class="form-group">
					 <label>ID</label>
					 <label th:txt="${produit.designation}">Designation</label>
			</div>
			
			<div class="form-group">
			    <label>Quantite</label>
			    <label th:txt="${produit.quantite}">Quantite</label>
			</div>
         </div>
      </div>
  
  </div>
          
</body>
</html>